body {
    background-color: #201A23;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Crimson Text', serif;
}

.quote-div {
    margin-top: 5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #95A3A4;
    padding: 3rem;
    width: 60%;
}

.quote-text {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
}

.quote-author, .attribution  {
    color: #A52422;
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0; 
}

.attribution {
    margin: 3rem 0 0;
}

.quote-btn {
    display: inline-block;
    border: none;
    border-radius: 15px;
    margin: 0;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-size: 1.25rem;
    color: #201A23;
    margin-top: 0.5rem;
}

.quote-btn img {
    height: 3.5rem;
    padding: 0.75rem 0.5rem 0.25rem;
    margin: none;
}

@media (min-width: 600px) {
    .quote-text {
        font-size: 3rem;
    }

    .quote-author {
        font-size: 2rem;
    }
}